
.block-board-vis {
    --board-height: 7;
    --board-width: 7;

    --side-color: black;
    --top-bottom-color: black;

    --square-size: 40px;
    --gap: 4px;
    --gap-width: calc((var(--board-width) - 1) * var(--gap));
    --square-width: calc((var(--board-width)) * var(--square-size));

    width: calc(var(--gap-width) + var(--square-width));
    border-top: var(--gap) solid var(--top-bottom-color);
    border-bottom: var(--gap) solid var(--top-bottom-color);
    border-left: var(--gap) solid var(--side-color);
    border-right: var(--gap) solid var(--side-color);

}

.block-board-vis__grid {
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(var(--board-width), var(--square-size));
    grid-template-rows: repeat(var(--board-height), var(--square-size));
}

.block-board-vis2 {
    --board-height: 7;
    --board-width: 7;

    --side-color: black;
    --top-bottom-color: black;

    --square-size: 40px;
    --gap: 4px;
    --gap-width: calc((var(--board-width) - 1) * var(--gap));
    --square-width: calc((var(--board-width)) * var(--square-size));

    width: calc(var(--gap-width) + var(--square-width));
    /*border-top: var(--gap) solid var(--top-bottom-color);*/
    /*border-bottom: var(--gap) solid var(--top-bottom-color);*/
    /*border-left: var(--gap) solid var(--side-color);*/
    /*border-right: var(--gap) solid var(--side-color);*/

}

.block-board-vis__grid2 {
    display: grid;
    /*gap: var(--gap);*/
    --column-count: calc(var(--board-width) * 2 + 1);
    --row-count: calc(var(--board-height) * 2 + 1);

    grid-template-columns: repeat(var(--board-width), var(--gap) var(--square-size)) var(--gap);
    grid-template-rows: repeat(var(--board-height), var(--gap) var(--square-size)) var(--gap);
}

.block-square {
    width: 40px;
    height: 40px;
}

.block-square--present {
    background-color: whitesmoke;
}

.block-square--absent {
    background-color: darkgray;
}

.block-square--1neighbour {
    background-color: #bbfabb;
}

.block-square--treasure, .block-square--center {
    background-color: gold;
}

.block-square--with-longest-path {
    background-color: #ffacac;
}

.path {

}

.path--available {
    background-color: white;

}

.path--absent {
    background-color: black;
}

.path--boundary {
    /*background-color: yellow;*/
}

.speck {

}

.speck--0path-available, .speck--1path-available, .speck--2path-available {
    background-color: black;
}

.speck--3path-available, .speck--4path-available {
    background-color: white;
}

.speck--boundary {
    /*background-color: yellow;*/
}

.speck--corner {
}
