
.simple-grid-board {
    --board-height: 7;
    --board-width: 7;

    --side-color: black;
    --top-bottom-color: black;

    --scale: 1.0;
    --square-size: calc(40px * var(--scale));
    --hint-height: calc(80px * var(--scale));
    --gap: calc(4px * var(--scale));
    --gap-width: calc((var(--board-width)) * var(--gap));
    --square-width: calc((var(--board-width)) * var(--square-size));

    display: inline-block;

    width: calc(var(--hint-height) + var(--gap-width) + var(--square-width));
    border-top: var(--gap) solid var(--top-bottom-color);
    border-bottom: var(--gap) solid var(--top-bottom-color);
    border-left: var(--gap) solid var(--side-color);
    border-right: var(--gap) solid var(--side-color);

}

.simple-grid-board__grid {
    display: grid;
    gap: var(--gap);
    grid-template-columns: var(--hint-height) repeat(var(--board-width), var(--square-size));
    grid-template-rows: var(--hint-height) repeat(var(--board-height), var(--square-size));
}

.simple-grid-board--topcorner {

}

.simple-grid-board__count {
    background-color: #98e7ff;
    font-size: x-large;
    font-weight: bold;
}

.simple-grid-board__count--row {

    /*margin-right: var(--gap);*/
    /*position: relative;*/
    /*right: var(--gap);*/
    /*top: var(--gap);*/
}

.simple-grid-board__count--col {
    /*position: relative;*/
    /*bottom: -20px;*/

}

/*.simple-grid-board__count__text {*/
/*    !*text-align: center;*!*/
/*    !*vertical-align: center;*!*/
/*    position: relative;*/
/*}*/

.simple-grid-board__count--undersatisfied {
    color: blue;
}

.simple-grid-board__count--satisfied {
    color: green;
}

.simple-grid-board__count--oversatisfied {
    color: red;
}


.block-square {
    width: var(--square-size);
    height: var(--square-size);
}

.block-square--present {
    background-color: whitesmoke;
}

.block-square--absent {
    background-color: darkgray;
}

.block-square--1neighbour {
    background-color: #bbfabb;
}

.block-square--treasure, .block-square--center {
    /*background-color: gold;*/
    background-image: url("../assets/treasure-chest-svgrepo-com.svg");
    background-size: contain;
    background-position: center;
}

.block-square--with-longest-path {
    background-color: #ffacac;
}
